@page "/GameBoard/{gameId}"

@using _5Straight.Data
@using _5Straight.Data.Models
@implements IDisposable
@inject GameManager GameManager
@inject NavigationManager NavigationManager
@inject IToastService toastService


@if (game == null || !game.GameHasStarted)
{
    <h2>Select you player slot!</h2>
    <p>Game will start when all players have selected a player slot</p>
    <div id="GameLobbyView">
        <div class="container lobbyContainer">
            <div class="row">
                @foreach (var team in game.Teams)
                {
                    <div class="col-md-4">
                        <h3>Team @(team.TeamNumber + 1)</h3>
                        <div id="lobby-team-@team.TeamNumber" class="list-group ">
                            @foreach (var player in team.Players)
                            {
                                if (string.IsNullOrWhiteSpace(player.PlayerOwner))
                                {
                                    <a @onclick="() => SelectPlayerSlot(player.PlayerNumber, authState.User.Identity.Name)" class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">Empty Slot</h5>
                                            <small>player @(player.PlayerNumber + 1)</small>
                                        </div>
                                    </a>
                                    if (game.Teams.Count == 2)
                                    {
                                        <button @onclick="() => SetPlayerAsAi(player.PlayerNumber)" type="button" class="btn btn-outline-dark">Add AI</button>
                                    }
                                }
                                else
                                {
                                    <a class="list-group-item list-group-item-action disabled @((!string.IsNullOrWhiteSpace(player.PlayerOwner) && player.PlayerOwner.Equals(authState.User.Identity.Name)) ? "lobby-owned" : "lobby-filled")" aria-disabled="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@(player.PlayerOwner.Split('@')[0])</h5>
                                            <small class="text-muted">player @(player.PlayerNumber + 1)</small>
                                        </div>
                                    </a>
                                    if (game.Teams.Count == 2 && player.Npc != null)
                                    {
                                        <button @onclick="() => RemovePlayerAsAi(player.PlayerNumber)" type="button" class="btn btn-outline-dark">Remove AI</button>
                                    }
                                }
                            }
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
}
else
{
    if (showGameInfo)
    {
        <div id="GameInfoView">
            <div class="container">
                <div class="row">
                    <button type="button" class="btn btn-outline-dark btn-sm" @onclick="() => SwitchBoardView()">Show Game Board</button>
                    <div class="col-md-12">
                        <h3>Previous Plays</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Turn Number</th>
                                    <th scope="col">Player</th>
                                    <th scope="col">Play Type</th>
                                    <th scope="col">Location Played</th>
                                    <th scope="col">Card Used</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var orderedPlays = game.Plays.OrderBy(x => x.TurnNumber).ToList();
                                    if (game.Won)
                                    {
                                        <tr>
                                            <td>Team @(game.WinningPlayer.Team.TeamNumber+1) Wins!</td>
                                            <td>@game.WinningPlayer.PlayerOwner.Split('@')[0]</td>
                                            <td>Play</td>
                                            <td>@orderedPlays.Last().PlayedLocationNumber</td>
                                            <td>@orderedPlays.Last().CardNumber</td>
                                        </tr>
                                    }
                                    for (int i = game.Plays.Count - 1; i >= 0; i--)
                                    {
                                        var play = orderedPlays[i];
                                        var player = game.Players.Where(p => p.PlayerNumber.Equals(play.PlayerNumber)).FirstOrDefault();
                                        <tr>
                                            <td>@play.TurnNumber</td>
                                            <td>@player.PlayerOwner.Split('@')[0]</td>
                                            <td>@(play.Draw ? "Draw" : "Play")</td>
                                            @if (!play.Draw)
                                            {
                                                <td>@play.PlayedLocationNumber</td>
                                                <td>@play.CardNumber</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="GameBoardView">
            <div class="container playerContainer">
                <div class="row">
                    <button type="button" class="btn btn-outline-dark btn-sm" @onclick="() => SwitchBoardView()">Show Game Info</button>
                    <div class="col-md-12" style="background-color:white">
                        <div class="nav-center">
                            <ul id="playerTabs" class="nav nav-pills" role="tablist">
                                @{
                                    foreach (var player in game.Players)
                                    {
                                        if (player.Team.TeamNumber == 0)
                                        {
                                            <li role="presentation" class="nav-item bg-danger"><a style="pointer-events: none;" class="nav-link @(game.CurrentPlayer.Equals(player) ? "active" : "")">@(player.PlayerOwner.Split('@')[0])</a></li>
                                        }
                                        else if (player.Team.TeamNumber == 1)
                                        {
                                            <li role="presentation" class="nav-item bg-warning"><a style="pointer-events: none;" class="nav-link @(game.CurrentPlayer.Equals(player) ? "active" : "")">@(player.PlayerOwner.Split('@')[0])</a></li>
                                        }
                                        else
                                        {
                                            <li role="presentation" class="nav-item bg-info"><a style="pointer-events: none;" class="nav-link @(game.CurrentPlayer.Equals(player) ? "active" : "")">@(player.PlayerOwner.Split('@')[0])</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="boardUberContainer">
                <div class="row">
                    <div class="col-md-12">
                        <div id="boardContainer" align="center">
                            @{ 
                                string shadowClass = "boardShadow";
                                switch (game.CurrentPlayer.Team.TeamNumber)
                                {
                                    case 0:
                                        shadowClass = "boardShadowTeam0";
                                        break;
                                    case 1:
                                        shadowClass = "boardShadowTeam1";
                                        break;
                                    case 2:
                                        shadowClass = "boardShadowTeam2";
                                        break;
                                    default:
                                        break;
                                }
                                if (game.Won)
                                {
                                    shadowClass = "boardShadow";
                                }
                                <table id="board" align="center" class="@shadowClass">
                                    @{
                                        int position = 0;
                                        for (int i = 0; i < 10; i++)
                                        {
                                            <tr>
                                                @{
                                                    for (int j = 0; j < 10; j++)
                                                    {
                                                        int locationNumber = GameFactory.positionOrder[position];

                                                        string classString = "";

                                                        <td class="@(game.Board.Where(x => x.Number.Equals(locationNumber)).FirstOrDefault().FilledBy?.Team?.TeamColor ?? classString)" @onclick="() => MakePlay(locationNumber)" id="@locationNumber">@locationNumber</td>
                                                        position++;
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (game.Players.Where(x => !string.IsNullOrWhiteSpace(x.PlayerOwner) && x.PlayerOwner.Equals(authState.User.Identity.Name)).Any())
            {
                var player = game.Players.Where(x => !string.IsNullOrWhiteSpace(x.PlayerOwner) && x.PlayerOwner.Equals(authState.User.Identity.Name)).First();
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="cardContainer" align="center">
                                @if (game.CurrentPlayer.Equals(player) && !game.Won)
                                {
                                    @for (int i = 0; i < 4; i++)
                                    {
                                        @if (player.Hand.Count >= i + 1)
                                        {
                                            int card = i;
                                            <button type="button" class="btn btn-outline-primary btn-lg @(selectedCard.Equals(card) ? "active" : "")" @onclick="() => SelectCard(card)">@(player.Hand[i])</button>
                                        }
                                    }
                                    @if (player.Hand.Count <= 3)
                                    {
                                        <button type="button" class="btn btn-outline-success btn-lg" @onclick="() => MakeDraw()">Draw Card</button>
                                    }
                                }
                                else
                                {
                                    @for (int i = 0; i < 4; i++)
                                    {
                                        @if (player.Hand.Count >= i + 1)
                                        {
                                            int card = i;
                                            <button type="button" class="btn btn-outline-dark btn-lg disabled">@(player.Hand[i])</button>
                                        }
                                    }
                                }

                            </div>
                        </div>

                    </div>
                </div>
            }
            else
            {
                <Alert Color="Color.Primary" Visible="true"> You are in Spectator Mode. You can watch this game, but cannot play.</Alert>
            }
        </div>
    }
}


@code {

    // Init
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private AuthenticationState authState;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            authState = await authenticationStateTask;
            game = GameManager.Games[gameId];
            mostRecentShowedPlay = game.TurnNumber;

            GameManager.ConnectClientToGame(gameId, OnNotify);
        }
        catch
        {
            NavigationManager.NavigateTo("");
        }
    }

    public async Task OnNotify()
    {
        var players = game.Players.Where(x => !string.IsNullOrWhiteSpace(x.PlayerOwner) && x.PlayerOwner.Equals(authState.User.Identity.Name));
        Player player = players.Any() ? players.First() : null;
        await InvokeAsync(() => StateHasChanged());
        var latestPlays = game.GetMostRecentPlays(mostRecentShowedPlay);
        foreach (var play in latestPlays)
        {
            if (player == null)
            {
                if (play.Draw)
                {
                    toastService.ShowInfo($"{game.Players[play.PlayerNumber].PlayerOwner.Split('@')[0]} drew a card", "Draw");
                }
                else
                {
                    toastService.ShowInfo($"{game.Players[play.PlayerNumber].PlayerOwner.Split('@')[0]} played the {play.CardNumber} in the {play.PlayedLocationNumber}", "Play");
                }
            }
            else if (play.PlayerNumber.Equals(player.PlayerNumber))
            {
                if (play.Draw)
                {
                    toastService.ShowSuccess($"You drew the {play.CardNumber} card", "Draw");
                }
                else
                {
                    toastService.ShowSuccess($"You played the {play.CardNumber} in the {play.PlayedLocationNumber}", "Play");
                }
            }
            else
            {
                if (play.Draw)
                {
                    toastService.ShowInfo($"{game.Players[play.PlayerNumber].PlayerOwner.Split('@')[0]} drew a card", "Draw");
                }
                else
                {
                    toastService.ShowInfo($"{game.Players[play.PlayerNumber].PlayerOwner.Split('@')[0]} played the {play.CardNumber} in the {play.PlayedLocationNumber}", "Play");
                }
            }
            mostRecentShowedPlay++;
        }
        if (latestPlays.Any() && game.Won)
        {
            if (player != null && player.Team.TeamNumber.Equals(game.WinningPlayer.Team.TeamNumber))
            {
                toastService.ShowSuccess("Congrats! You Won!!", "GAME OVER!");
            }
            else
            {
                toastService.ShowWarning($"Team {game.WinningPlayer.Team.TeamNumber + 1} won the game!", "GAME OVER!");
            }
        }
    }

    public void Dispose()
    {
        GameManager.DisconnectClientFromGame(gameId, OnNotify);
    }

    // Game Lobby

    public async void SelectPlayerSlot(int playerId, string userName)
    {
        if (GameManager.UserSelectPlayerSlot(gameId, playerId, userName))
        {
            playerNumber = playerId;
        }
    }

    public void SetPlayerAsAi(int playerId)
    {
        GameManager.AiSelectPlayerSlot(gameId, playerId);
    }

    public void RemovePlayerAsAi(int playerId)
    {
        GameManager.AiDeselectPlayerSlot(gameId, playerId);
    }

    // Game Board
    [Parameter]
    public string gameId { get; set; }
    public Game game;
    int selectedCard;
    int playerNumber = -1;
    int mostRecentShowedPlay;
    bool showGameInfo;

    public async void MakePlay(int locationNumber)
    {
        var player = game?.Players?.Where(x => !string.IsNullOrWhiteSpace(x.PlayerOwner) && x.PlayerOwner.Equals(authState.User.Identity.Name)).FirstOrDefault();

        if (player == null)
        {
            toastService.ShowError("You are not a player in this game.", "Error");
            return;
        }

        if (game.CurrentPlayer != player)
        {
            toastService.ShowError("It is not your turn to play.", "Error");
            return;
        }

        if (player.Hand.Count <= selectedCard)
        {
            toastService.ShowError("Select a valid card before you play.", "Error");
            return;
        }

        var response = GameManager.UserMakePlay(gameId, player, false, locationNumber, game.CurrentPlayer.Hand[selectedCard]);
        if (!string.IsNullOrWhiteSpace(response))
        {
            toastService.ShowError(response, "");
        }

    }

    public async void MakeDraw()
    {
        var player = game?.Players?.Where(x => !string.IsNullOrWhiteSpace(x.PlayerOwner) && x.PlayerOwner.Equals(authState.User.Identity.Name)).FirstOrDefault();

        if (player == null)
        {
            toastService.ShowError("You are not a player in this game.", "Error");
            return;
        }

        var response = GameManager.UserMakePlay(gameId, player, true);
        if (!string.IsNullOrWhiteSpace(response))
        {
            toastService.ShowError(response, "Error");
        }
    }

    public void SelectCard(int cardSlot)
    {
        selectedCard = cardSlot;
    }

    public void SwitchBoardView()
    {
        if (showGameInfo)
        {
            showGameInfo = false;
        }
        else
        {
            showGameInfo = true;
        }
    }

}
