<Blazorise.ThemeProvider Theme="@theme">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</Blazorise.ThemeProvider>


@code{
    private Theme theme = new Theme
    {
        // theme settings
        IsGradient = true,
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#31708e",
            Danger = "#ff6666",
            Warning = "#e3ff00",
            Info = "#0000ee"
        },
        BackgroundOptions = new ThemeBackgroundOptions
        {
            Primary = "#3e8eb4",
            Light = "#f7f9fb"
        }
    };
}